<style>
    table,
    th,
    td {
        padding: 0.4rem;
        border-collapse: collapse;
        border: 1px solid #cccccc;
        text-align: center;
        user-select: none;
    }

    thead > tr > th {
        border: 1px solid transparent;
        border-bottom: 1px solid #ccc;
    }
</style>
<div>Récapitualitif du {{ start_date }} - {{ end_date }}</div>
<table border="1">
    {% set index = 1 %}
    {% for probe in probes %}    
        <thead>
            <tr>
                <th colspan="2">
                    <strong>Sonde {{ index }}</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Date</th>
                <th>Récapitualitif</th>
            </tr>
            <tr>
                {% for item in probe %}
                    <td>{{ item.date }}</td>
                    <td>
                    {% if item.status == 0 %}
                        <div>❌ - {{ item.date_event }}</div>
                    {% else %}
                        ✅
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
        {% set index = index + 1 %}
    {% endfor %}
</table>
