<style>
    table,
    th,
    td {
        padding: 0.4rem;
        border-collapse: collapse;
        border: 1px solid #cccccc;
        text-align: center;
        user-select: none;
    }

    thead > tr > th {
        border: 1px solid transparent;
        border-bottom: 1px solid #ccc;
    }
</style>
<div>Récapitualitif du {{ start_date|date("d/m/Y") }} - {{ end_date|date("d/m/Y") }}</div>
<table border="1">
    {% set addDate = 0 %}
    {% for i in 1..6 %}
            <thead>
                <tr>
                    <th colspan="2">
                        <strong>Sonde {{ i }}</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Récapitualitif</th>
                </tr>
        {% for probe in probes %}    
                <tr>
                    {% for y in 1..6 %}
                        <td>{{ start_date|date_modify("+" ~ addDate ~ " day")|date('d/m/Y H:i') }}</td>
                        <td>
                            <div>❌ - {{ item.date_event }}</div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        {% endfor %}
        {% set addDate = addDate + 1 %}
    {% endfor %}
</table>
