<style>
    table,
    th,
    td {
        padding: 0.4rem;
        border-collapse: collapse;
        border: 1px solid #cccccc;
        text-align: center;
        user-select: none;
    }

    thead > tr > th {
        border: 1px solid transparent;
        border-bottom: 1px solid #ccc;
    }
</style>
<table border="1">
    <thead>
        <tr>
            <th colspan="2">
                Récapitualitif du {{ start_date }} - {{ end_date }} |
                <strong>Sonde {{ number }}</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Date</th>
            <th>Récapitualitif</th>
        </tr>
        {% for info in probe %}    
            <tr>
                <td>{{ info.date }}</td>
                <td>
                {% if info.status == 0 %}
                    <div>❌ - {{ info.date_event }}</div>
                {% else %}
                    ✅
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
